$break-small: 768px;

html, body{
	margin:0;
	padding:0;
}

h1{
	padding:10px 0 10px 5px;
	margin:0;

	@media screen and (max-width: $break-small) {
		background-color:#828896;
		color:#ffffff;
		font-size:20px;
	}
}

h2{
	margin:0;
	padding:10px 0 10px 5px;
	font-size:20px;

	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:black;

	@media screen and (max-width: $break-small) {
		display:none;
		
	}
}

#wrapper{
	width:768px;
	max-width: 768px;
	margin:0 auto;
	@media screen and (max-width: $break-small) {
		width:100%;
	}
}

#selects{

	border-top-style:solid;
	border-top-width:1px;
	border-top-color:black;

	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:black;

	padding:20px 5px;



	@media screen and (max-width: $break-small) {
		width:100%;
		display:table;

		border:0;
		padding:0;

	}

	

	.selector{
		display:inline-block;

		.ie7 &, .ie6 &{
			padding:0;
			display:inline;
		}

		@media screen and (max-width: $break-small) {
			display:table-cell;
			width:33.3%;
			position: relative;
    		z-index:100;
    		border: 2px solid black;
			border-left-width:1px;
			border-right-width:1px;
			text-align: center;
			padding:10px 0;		
			
			&.active{
				background-color:#CCCCCC;
			}

			&.hasFocus{
				background-color:#666666 !important;
			}	

		}
		
		select{

			width:220px;
			margin: 0 15px;
			@media screen and (max-width: $break-small) {
				 margin:0px;
			    padding:0px;
			    opacity:0;
			    filter:alpha(opacity=0);
			    position:absolute;
			    top:0;
			    left:0;
			    width:100%;
			    height:100%;
			    display:block;
			    z-index:101;
			    -webkit-appearance: none;
    			-moz-appearance: none;
    			appearance: none;

    			&:foucs{
    				opacity:1;
			    	filter:alpha(opacity=1);
    			}
				
			}
		}

		.selectDefault{

			display:none;

			@media screen and (max-width: $break-small) {
				font-family:arial;
			    font-size:12px;
			    text-align:center;
			    width:100%;
			    display:block;
			}
		}

	}	
} 

#details{
	.productList{
		display:inline-block;
		width:256px;

		.ie7 &, .ie6 &{
			padding:0;
			display:inline;
		}
		
		@media screen and (max-width: $break-small) {
		    display:none;
		    width:100%;
		}

		@media screen and (max-width: $break-small) {
			&.productList.display{
		   		display:block !important;
			}
		}

		ul
		{
		    border: 1px #000000 solid;
		    list-style-type: none;
		    padding:0; 
		    margin:2px;

		    li:first-child{
		    	border-top: 20px #CCCCCC solid;
		    }
		    
		    li{
		    	padding:8px 2px;
		    	text-align:center;
		    }


		    li:nth-child(odd){
		    	background-color:#EEEEEE;
		    }
		}


	}
	
	
}

#mobileSelect{
	
	display:none;

	a img{
		border:0;
	}


	padding:10px 0px;
	@media screen and (max-width: $break-small) {
		width:100%;
		display:table;
	}

	.left, .right, span{
		display:table-cell;
	}

	.left{
		padding:0 2px 0 10px;
	}

	.right{
		padding:0 10px 0 2px;
	}

	span{
		width:100%;
		vertical-align: middle;
		text-align:center;
	}

	a span{
	  height: 1px;
	  width: 1px;
	  position: absolute;
	  overflow: hidden;
	  top: -10px;
	}


}

